/.env
/.env.prod
/docker-compose-local.yml
/.idea
/backup
/storage/private/*
/storage/public/*

/storage/pgdata/*
/storage/ssdata/*

/drupal/modules/custom/exaples

/nginx/logs/*

# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build Files #

#bin
target
build/
.gradle

# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml

mem*.db

README.html
